body {
    margin: 0;
    padding: 0;
}
.blok {
    width: 1000px;
    border: 8px gray solid;
    border-radius: 8px;
    padding: 5px;
    margin: auto;
}
.header{
    height: 150px;
    background: #f3f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 5px;
}
.daddy__left__head{
    height: 150px;
    margin-top: 5px;
    background: #f3f0f0;
    display: flex;
    justify-content: center;
    align-items: center;


}
.left__child{
    display: flex;
    column-gap: 5px;
    flex-wrap: wrap;

}
.child{
    height: 150px;
    margin-top: 5px;
    background: #f3f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 32%;
}
.daddy__left{
    flex-grow: 4;
    column-gap: 5px;
}
.daddy__rihgt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background: #f3f0f0;
    margin-top: 5px;
}
.daddy{
    display: flex;
    column-gap: 5px;
}
.b-r{
    border-radius: 8px;

}
